<!DOCTYPE>
<html>
    <head>
        <title>{{ title }}</title>   
    </head>
    <body>
        <div id='header'>
            <h1>Hello, {{ name }}</h1>
        </div>
        <div id='navBar'>

        </div>

        <div id='content'>
            {% block content %}
                    
            {% endblock %}
        </div>
        <div id='footer'>

        </div>
    </body>
</html>
